tickTime=2000
dataDir=/var/lib/zookeeper/
clientPort=2181
initLimit=5
syncLimit=2
server.1=host1.local:2888:3888
server.2=host2.local:2888:3888
server.3=host3.local:2888:3888
admin.enableServer=false

